<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.board">
<!-- 위의 코드는 mybatis 사이트를 참고한 기본 코드 -->
<!-- namespace는 각각의 매퍼를 구분하는 고유명 -->
	
	<!-- 게시물 목록 -->
	<!-- id는 매퍼 내에서 쿼리를 구분짓는 고유한 이름, resultType은 쿼리 결과의 형태 -->
	<select id="list" resultType="com.board.domain.BoardVO">
					<!-- resultType은 쿼리를 실행 후 결과가 있을 경우 데이터 사용 -->
		select
			bno, title, content, writer, regDate, viewCnt
		from tbl_board
		order by bno desc
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="write" parameterType="com.board.domain.BoardVO">
					<!-- parameterType은 데이터를 넣을 때 사용 -->
		insert into 
			tbl_board(title, content, writer)
				values(#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="com.board.domain.BoardVO">
					<!-- parameterType은 매퍼에 들어오는 데이터, resultType은 매퍼가 내보내는 데이터 -->
		SELECT 
			bno, title, content, writer, regDate, viewCnt
		FROM 
			tbl_board
		WHERE 
			bno = #{bno}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.board.domain.BoardVO">
		UPDATE tbl_board
			SET 
				title = #{title},
				content = #{content},
				writer = #{writer}
			WHERE bno = #{bno}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
			FROM tbl_board
		WHERE bno = #{ bno }
	</delete>
	
	<!-- 페이징 구현 시 더미 데이터를 만들기 위해 사용했던 쿼리. -->
	<!-- INSERT INTO tbl_board(title, content, writer)
	SELECT title, content, writer FROM tbl_board; -->
	
	<!-- bno 갯수 조회 -->
	<!-- SELECT COUNT(bno) FROM tbl_board; -->
	
	<!-- bno에 따라 10개까지 내림차순 정렬 -->
	<!-- SELECT 
		bno, title, writer, regDate, viewCnt
	FROM tbl_board
	ORDER BY bno DESC
	LIMIT 10; -->	
	
	<!-- bno에 따라 0번째부터 10번째개까지 내림차순 정렬 , 한 페이지에 출력될 게시물 갯수 설정 가능-->
	<!-- SELECT 
		bno, title, writer, regDate, viewCnt
	FROM tbl_board
	ORDER BY bno DESC
	LIMIT 0, 10; -->
	
	<!-- 게시물 총 갯수 -->
	<select id="count" resultType="int">
		SELECT COUNT(bno) FROM tbl_board
	</select>	
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="listPage" parameterType="hashMap" resultType="com.board.domain.BoardVO">
	SELECT 
		bno, title, writer, regDate, viewCnt
	FROM tbl_board
	ORDER BY bno DESC
	LIMIT #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시물 목록 + 페이징 + 검색 -->
	<select id="listPageSearch" parameterType="hashMap" resultType="com.board.domain.BoardVO">
	SELECT 
		bno, title, writer, regDate, viewCnt
	FROM tbl_board
	
	 <if test='searchType.equals("title")'>
  		WHERE title LIKE concat('%', #{keyword}, '%')
 	</if>
 
 	<if test='searchType.equals("content")'>
  		WHERE content LIKE concat('%', #{keyword}, '%')
 	</if>
 
 	<if test='searchType.equals("title_content")'>
  		WHERE title LIKE concat('%', #{keyword}, '%') 
   		or content LIKE concat('%', #{keyword}, '%')
 	</if>
 
 	<if test='searchType.equals("writer")'>
  		WHERE writer LIKE concat('%', #{keyword}, '%')
 	</if>
	
	ORDER BY bno DESC
	LIMIT #{displayPost}, #{postNum}
	</select>
	
</mapper>